.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
server/**
tools/**
documentation/tools/**
fixtures/**
tools/reports/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/*.report.md
